@import "global_settings.scss";

$collapsedFilterHeight: 30px;

.search-filter {
  float: left;
  width: 200px;
  min-width: 140px;
  border-radius: 4px;
  background-color: $bg-filter-color;
  background-image: url($img-path + "filter-bg.png");

  @media screen and (max-width: $widthMobile) {
      float: right;
      clear: both;
      width: 100%;
     
      &.search-filter-collapsed {
        height: $collapsedFilterHeight;
      }
     
  }
}

.search-filter-expanded-content {
  padding: 10px 5px;
  display: block;
  
  @media screen and (max-width: $widthMobile) {
    
    &.search-filter-collapsed {
      display: none;
    }
  
  }

}


// Header of filter panel
.search-filter-collapsed-content {
  padding: 0 5px;
  display: none;
  line-height: $collapsedFilterHeight;
  
  @media screen and (max-width: $widthMobile) {
    
    &.search-filter-collapsed {
      display: block;
    }
  
  }

}


.filter-collapse-container {
  display: none;

  @media screen and (max-width: $widthMobile) {
    display: block;
    position: relative;
    float: right;
    span {
      position: relative;
      top: 5px;
      right: 5px;
    }
  }

}



.currency-row {
  margin: 0 auto;
  max-width: 130px;
}

.country-list {
  max-width: 130px;
  margin: 10px auto;
  
  ul {
    padding: 0px;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
  
    li {

    }
  }
}

.town-list {

}


