@import "global_settings.scss";

$collapsedFilterHeight: 30px;
$filterGroupMinWidth: 140px;

.search-filter {
  float: left;
  width: 200px;
  min-width: 140px;
  border-radius: 4px;
  background-color: $bg-filter-color;
  background-image: url($img-path + "filter-bg.png");
  
  padding: 0 10px;

  @media screen and (max-width: $widthMobile) {
      float: right;
      clear: both;
      width: 100%;
      margin: 10px 0 0 0;
      
      padding: 0;
     
  }
}

.search-filter-expanded-content {
  padding: 10px 5px;
  display: block;
  
  @media screen and (max-width: $widthMobile) {
    
    &.search-filter-collapsed {
      display: none;
    }
  
  }

}

.filter-container {
  width: 100%;

  div {
    max-width: $filterGroupMinWidth;
    min-width: $filterGroupMinWidth;  
    margin: 0px auto;
  }

  @media screen and (max-width: $widthMobile) {
    text-align: center;

    min-width: $filterGroupMinWidth;      
    width: 25%; 
    float: left;
    
    div {
      min-width: 0;  
    }

  }    
}

// Header of filter panel
.search-filter-collapsed-content {
  padding: 0 5px;
  display: none;

  line-height: $collapsedFilterHeight;

  @media screen and (max-width: $widthMobile) {
    
    &.search-filter-collapsed {
      display: block;

      span {
        display: inline-block;
        margin-right: 20px;
      }
    }
  
  }

}

.filter-collapse-container {
  position: relative;
}

.collapse-icon {
  display: none;

  @media screen and (max-width: $widthMobile) {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


