$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$img-path: "../images/";

$headerHeight: 90px;
$headerHeightCollapsed: 60px;

$videoWidth: 480px;
$videoHeight: 350px;

$desktop: 992px;
$tablet: 768px;
$mobile: 768px;

$widthNoVideo: 850px;

$widthMinGlobal: 420px;

// color scheme

$color-text-primary: rgb(0,0,0);
$color-text-secondary: rgb(106,141,157);
$color-text-accent: rgb(222,88,66);
$color-text-header: rgb(255,255,255);

$color-header-bg: #49535c; //rgb(31,43,51);

