@import "global_settings.scss";

$widthHideSocial : 700px;
$widthNavCollapsed: 600px;

// заголовок

body {
  padding-top: $headerHeight;
  @media screen and (max-width: $widthNavCollapsed) {
    padding-top: $headerHeightCollapsed;
  }
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $headerHeight;
  background-color: $color-header-bg;
  color: $color-text-header;
  overflow: hidden;
  z-index: 100;
  @media screen and (max-width: $widthNavCollapsed) {
    height: $headerHeightCollapsed;
  }  
}

.logo {
  float: left;

  img {
    width: $headerHeight;
    height: $headerHeight;  
    padding: 5px;

    @media screen and (max-width: $widthNavCollapsed) {
        width: $headerHeightCollapsed;
        height: $headerHeightCollapsed;  
        padding: 5px;
    }    
  }
  
}

nav {
  float: left;

  ul {
    display: inline-block;
    list-style-type: none;
    font-size: 40px;
    padding: 15px 0 0 40px;

    li {
      margin-right: 10px;
      display: inline-block;  
    }
 
  }
}

.nav-link {

  text-decoration: none;
  color: $color-text-header;
  position: relative;
  font-family: 'Play', sans-serif;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

}

.social {
  float: right;
  padding: 28px 10px 0 0;
}

.desktop-hidden {
  display: none;
}

@media screen and (max-width: $widthNavCollapsed) { 

  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: inherit;
  }

  nav > ul {
    padding: 10px 0 0 0;
    font-size: 35px;

    li {
      margin-right: 15px;
    }
  }

  .social {
    padding: 20px 10px;
  }  
}

@media screen and (max-width: $widthHideSocial) {
  // .social {
  //   display: none;
  // }

  nav > ul {
    padding-left: 20px;
  }
}


