@import "global_settings.scss";


/**
 * Author: tobiasahlin
 * Source: https://github.com/tobiasahlin/SpinKit
 */

.spinner {
  width: 160px;
  height: 160px;

  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #337ab7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*********************************************************/

.progress-container {
  float: right;
  width: 65%;
  margin: 0 0 50px 5%;
  height: 160px;
  text-align: center;

  @media screen and (max-width: $widthMobile) { 
    margin: 0;
    width: 100%;
  }  
}