@import "global_settings.scss"; // set paths for bootstrap

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header.scss";
@import "about.scss";
@import "startup.scss";
@import "search.scss";
@import "filter.scss";
@import "tag_cloud.scss";

// общее
html, body {
  width: 100%;
  background-color: $bg-color;
}

.action-link {
    cursor: pointer;
    border-bottom: 1px black dashed; 
  
    &:hover {
        color: $color-text-accent;
        border-color: $color-text-accent;
    }    
}

.action-icon {
  cursor: pointer;

  &:hover:before {
      color: $color-text-accent;
      border-color: $color-text-accent;
  }
}

.action-currency-icon {
  @extend .action-icon;
  font-size: 16px;
  margin: 2px 3px;
  padding-bottom: 3px;

  &:before {
    border-bottom: 1px black dashed; 
  }  

  &:not(:last-child):after{
      content: " \B7 ";
      border-bottom: 0;
  }

}

.selected-option {
  color: $color-text-accent;
}

.glyphicon-10 {
  font-size: 10px;
  cursor: pointer;
}

.glyphicon-20 {
  font-size: 20px;
  cursor: pointer;
}