// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "global_settings.scss";

$section-height: 600px;
$bg-filter-color:  rgb(216,227,216);
$bg-color:  rgb(237,237,234);

.search-section {
  width: 100%;
  height: $section-height;
  padding: 50px;
  //background-color: $bg-color;
  color: $color-text-primary;
  background-color: rgb(237,237,234); 
  //background-image: url($img-path + "search-section-bg.png");
  //background-image: url(http://www.transparenttextures.com/patterns/diagmonds-light.png);

}

.search-filter {
  float: left;
  width: 20%;
  min-width: 120px;
  padding: 10px 5px;
  border-radius: 4px;

  background-color: $bg-filter-color;


//background-image: url(http://www.transparenttextures.com/patterns/diagonal-striped-brick.png);
}

.currency-row {
  margin: 0 auto;
  max-width: 130px;
}

.country-list {
  max-width: 130px;
  margin: 10px auto;
  ul {
    padding: 0px;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    li {

    }
  }
}

.town-list {

}

// поиск

.search-box {
  float: left;
  width: 700px;
  min-width: 400px;
  margin-left: 50px;
  padding: 0px 50px;
  border-radius: 4px;
  //background-color: $bg-filter-color;
}

.search-examples {
  margin-top: 3px;
}

// облако тегов

.tag-cloud {


}
