// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "global_settings.scss";

$widthMobile : 758px;
$section-height: 700px;
$bg-filter-color:  rgb(216,227,216);
$bg-color:  rgb(237,237,234);

.search-section {
  width: 100%;
  height: $section-height;
  padding: 50px 5%;
  color: $color-text-primary;
  background-color: rgb(237,237,234); 

  @media screen and (max-width: $widthMobile) { 
    padding: 20px 5%;
  }
}

.search-filter {
  float: left;
  width: 200px;
  height: 350px;
  min-width: 140px;
  padding: 10px 5px;
  border-radius: 4px;
  background-color: $bg-filter-color;
  background-image: url($img-path + "filter-bg.png");

  @media screen and (max-width: $widthMobile) {
      float: right;
      clear: both;
      width: 90%;
      margin: 10px 5% 0 5%;
  }
}

.currency-row {
  margin: 0 auto;
  max-width: 130px;
}

.country-list {
  max-width: 130px;
  margin: 10px auto;
  ul {
    padding: 0px;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    li {

    }
  }
}

.town-list {

}

// поиск

.search-box {
  float: right;
  width: 65%;
  margin-left: 5%;
  border-radius: 4px;
  
  @media screen and (max-width: $widthMobile) {
      float: left;
      clear: both;
      width: 100%;
      margin: 0;
  }
}

.search-examples {
  margin-top: 3px;

  @media screen and (max-width: $widthMobile) { 
    text-align: center;
  }
}

// облако тегов

.tag-cloud {
  float: right;
  width: 65%;
  margin-left: 5%;

  div {
    margin: 0px auto;
    height: 250px;

    width: 350px;

    @media screen and (max-width: $widthMobile) { 
      width: 350px;
      height: 250px;    
    }      

    span {
      cursor: pointer;
    }
  }

  @media screen and (max-width: $widthMobile) { 
    margin: 0;
    width: 100%;
  }  
}



