// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "global_settings.scss";

$section-height: 700px;
$demoChartSize: 200px;

.search-section {
  width: 100%;
  height: $section-height;
  padding: 50px 5%;
  color: $color-text-primary;
  background-color: rgb(237,237,234); 

  @media screen and (max-width: $widthMobile) { 
    padding: 20px 5%;
  }
}

.search-box {
  float: right;
  width: 65%;
  margin-left: 5%;
  border-radius: 4px;
  
  @media screen and (max-width: $widthMobile) {
      float: left;
      clear: both;
      width: 100%;
      margin: 0;
  }
}

.search-examples {
  height: 20px;
  margin: 3px 0 0 0; 

  @media screen and (max-width: $widthMobile) { 
    text-align: center;
  }
}

.badg-container {
  float: left;
  margin: 3px 0 0 0; 
  
  ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;

    li {
      display: inline-block;  
      font-size: 15px;
    }
  }
}

li.new-search-action {
  padding: 0px;
}

li.manage-results-label {
  padding-right: 20px; 
}

li.clear-result-action {
  padding-right: 15px;
}

// результаты поиска

.search-result {
  float: right;
  width: 65%;
  margin-left: 5%;  
  margin-top: 27px;

  @media screen and (max-width: $widthMobile) { 
    margin: 10px 0 0 0;
    width: 100%;
  }  

}

.demo-chart-container {
  float: right;
  width: 100%;
  margin: 20px 0 0 5%;  

  @media screen and (max-width: $widthMobile) { 
    margin: 0;
    width: 100%;
  }  

  div { // demo chart container
    float: left;
    width: 33.333%;
    min-width: $demoChartSize;

    div { // demo chart
      cursor: pointer;
      width: $demoChartSize;
      height: $demoChartSize;

      margin: 0 auto;
    }

    @media screen and (max-width: $demoChartSize * 2 + 60px) { 
      float: none;
      width: 100%;
    }

  }  
}

