@import "global_settings.scss";

$section-height: 140px;
$bg-color: rgb(237,237,234); 
$text-color: rgb(255,255,255); 


.startup-section {
  width: 100%;
  background-color: $bg-color;
  color: $text-color;
  min-height: $section-height;
  padding: 10px;
  overflow: auto;
  
  background-image: url($img-path + "startup-bg.png");

  h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-family: 'Play', sans-serif;
  }

}

.btn-xlg {
  padding: 8px 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3333333;
  border-radius: 8px;
  margin: 10px auto;
  display: block;
}