@import "global_settings.scss";

$section-height: 160px;
$bg-color: rgb(237,237,234); 
$text-color: rgb(255,255,255); 

.startup-section {
  background-color: $bg-color;
  color: $text-color;
  height: $section-height;
  padding: 30px;  
  background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);

  h1 {
    text-align: center;
    font-weight: bold;
  }
}

.btn-xlg {
  padding: 8px 20px;
  font-size: 28px;
  line-height: 1.3333333;
  border-radius: 8px;
}