<!doctype html>
<html class="no-js" ng-app="hhStat" lang="" >
  <head>
    <meta charset="utf-8">
    <title>Что учить IT специалисту?</title>
    <meta name="title" content="Что учить IT специалисту?" />
    <meta name="description" content="Графики популярности языков программирования, фреймворков и технологий на рынке труда">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Что учить IT специалисту?" />
    <meta property="og:description" 
            content="Графики популярности языков программирования, фреймворков и технологий на рынке труда" />
    <meta property="og:url" content="http://job.bocharovf.ru" />
    <meta property="og:image" content="images/logo.png" />
    <link href='https://fonts.googleapis.com/css?family=Play&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="images/logo.png" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Что учить IT специалисту?"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/jqcloud2/dist/jqcloud.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Fixed header --> 
    <header ng-controller="MenuCtrl as menu">

        <div class="logo">
            <img src="images/logo90x90.png" alt="job.bocharovf.ru">
        </div>
        
        <nav class="navigation">
            <ul>
                <li class="mobile-hidden"> 
                    <span class="nav-link" ng-click="menu.scrollTo('aboutSection')">О проекте</span>
                </li>
                <li class="mobile-hidden"> 
                    <span class="nav-link" ng-click="menu.scrollTo('searchSection')">Поиск</span>
                </li>

                <li class="desktop-hidden"> 
                    <span class="glyphicon glyphicon-education nav-icon" ng-click="menu.scrollTo('aboutSection')">
                    </span>
                </li>
                <li class="desktop-hidden"> 
                    <span class="glyphicon glyphicon-search nav-icon" ng-click="menu.scrollTo('searchSection')">
                    </span>
                </li>             
            </ul>
        </nav>

        <div class="social mobile-hidden">
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_linkedin_large' displayText='LinkedIn'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_vkontakte_large' displayText='Vkontakte'></span>
        </div>

        <div class="social desktop-hidden">
            <span class='st_facebook' displayText=''></span>
            <span class='st_twitter' displayText=''></span>
            <span class='st_linkedin' displayText=''></span>
            <span class='st_googleplus' displayText=''></span>
            <span class='st_vkontakte' displayText=''></span>
        </div>        

    </header>
    
    <!-- About --> 
	<section id="aboutSection" class="about-section">
        		
        <div class="devise">
    	     <h1>Статистика для IT-специалистов</h1>
             
    	</div>

    	<div class="howto-video">
    	  
            <video autoplay loop>
              <source src="images/header.mp4" type="video/mp4">
            </video>

    	</div>		
	</section>
    
    <!-- Startup -->
    <section class="startup-section">
<!-- 
        <h1>Что учить? Узнай за 10 секунд ... 
            <button class="btn-xlg btn-primary" type="button">
                <span>Старт</span>
            </button>
        </h1> -->

    </section>

    <!-- Search --> 
	<section id="searchSection" class="search-section" ng-controller="SearchCtrl as search">   
		
        <!-- Строка поиска -->
		<article class="search-box">
            
            <div class="input-group">
              <input type="text" 
                    class="form-control" 
                    ng-attr-placeholder="{{search.placeholder()}}" 
                    ng-model="search.query" 
                    ng-keypress="search.searchOnEnter($event)">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="search.search(search.query)">
                    <span
                        ng-bind="search.buttonText()" 
                        ng-show="search.queryInProgress == 0"></span>
                    <img ng-show="search.queryInProgress > 0" src="images/loading.gif" />
                </button>
              </span>
            </div>

            <div class="search-examples" ng-hide="search.hasResults() || search.queryInProgress > 0">
                <span>Например сравните: </span>
                <span 
                    class="action-link ng-cloak" 
                    ng-click="search.search(search.suggestion)"
                    ng-bind="search.suggestion"></span>
            </div>

            <!-- Баджы с результатами поиска -->
            <div class="badg-container ng-cloak" ng-show="search.hasResults()">
                
                <ul>
                    <li class="new-search-action">
                        <span>Начните </span>
                        <span 
                            class="action-link" 
                            title="очистить все результаты"
                            ng-click="search.clearResult()">новый поиск</span>
                    </li>
                    <li class="manage-results-label">
                        <span>или управляйте результатами: </span>
                    </li>                    
                    <li class="clear-result-action" ng-repeat="result in search.results">
                        <span
                            class="action-link" 
                            ng-click="search.clearResult(result.request.token)">
                        <span 
                            class="glyphicon glyphicon-remove glyphicon-10 action-icon" 
                            aria-hidden="true"
                            title="удалить результат"></span>
                            {{result.request.token}}
                        </span>
                    </li>
                </ul>
                
            </div>

		</article>		

        <!-- Параметры поиска -->
        <article 
            class="search-filter" 
            ng-controller="FilterCtrl as filter"
            ng-class="filter.isExpanded ? '' : 'search-filter-collapsed'">
            
            <!-- Переключение режимов панели фильтра -->
            <div class="filter-collapse-container"> 
                <span 
                    class="glyphicon glyphicon-20 action-icon collapse-icon" 
                    ng-class="filter.isExpanded ? 'glyphicon-resize-small' : 'glyphicon-resize-full'"
                    ng-click="filter.isExpanded = !filter.isExpanded"
                    title="свернуть или развернуть панель"
                    aria-hidden="true">
                </span>
            </div>
            
            <!-- В свернутом режиме -->
            <div 
                class="search-filter-collapsed-content" 
                ng-class="filter.isExpanded ? '' : 'search-filter-collapsed'">

                <span ng-hide="filter.isExpanded">
                    <strong>Фильтр: </strong>{{filter.collapsedContent()}}
                </span>
            </div>
            
            
            <!-- В развернутом режиме -->
            <div 
                class="search-filter-expanded-content" 
                ng-class="filter.isExpanded ? '' : 'search-filter-collapsed'">
                
                <div class="filter-container">
                    <simple-filter 
                        header="График"
                        options="filter.valueTypes" 
                        selectedOption="filter.selectedValueType"
                        max=10
                        event-name="VALUE_TYPE_CHANGED"
                        display-field="name"
                        value-field="id"> 
                    </simple-filter>                
                </div>

                <div class="filter-container">
                    <simple-filter 
                        header="Валюта"
                        options="filter.currencies" 
                        selectedOption="filter.selectedCurrency"
                        max=10
                        event-name="CURRENCY_CHANGED"
                        display-field="name"
                        value-field="code"> 
                    </simple-filter>
                </div>                
                
                <div class="filter-container">
                    <simple-filter 
                        header="Опыт работы"
                        options="filter.experiences" 
                        selectedOption="filter.selectedExperience"
                        max=10
                        event-name="EXPERIENCE_CHANGED"
                        display-field="name"
                        value-field="id"
                        allow-empty="true"> 
                    </simple-filter>
                </div>

                <div class="filter-container">
                    <hierarchy-filter 
                        header="Регион"
                        hierarchy="filter.areas" 
                        max=10
                        event-name="REGION_CHANGED"
                        always-on-top="filter.specialAreas"> 
                    </hierarchy-filter>
                </div>

            </div>            
        </article>
      
        <article class="progress-container ng-cloak" ng-show="search.queryInProgress > 0">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
            <span>Завершено на {{search.percentProgress()}}%</span>
        </article>  

        <!-- Zero result panel -->
        <article 
                class="zero-result ng-cloak" 
                ng-show="search.isAllResultsEmpty() && search.queryInProgress == 0">
            <h3 class="zero-result-title">
                Похоже, что ничего не найдено !
            </h3>
            <span class="zero-result-description">
                Это могло произойти из-за опечатки в поисковом запросе или установленных фильтров
            </span>
            <span class="zero-result-suggestion">
                Попробуйте подобрать другие ключевые слова или снять условия фильтра
            </span>
        </article>        

        <!-- Облако тегов -->
		<article 
            class="tag-cloud" 
            ng-controller="TagCloudCtrl as tagCloud" 
            ng-hide="search.hasResults() || search.queryInProgress > 0">
            <jqcloud words="tagCloud.words" steps="7"></jqcloud> 
		</article>

        <!-- Графики -->
        <article 
            class="search-result ng-cloak" 
            ng-show="search.hasResults() && search.queryInProgress == 0">
            <div class="main-chart">
                <highchart id="mainChart" config="search.chartConfig.config"></highchart>
            </div>
            
            <span class="chart-select-tip">Нажмите, чтобы выбрать график:</span>

            <div class="demo-chart-container">
                <div ng-repeat="chart in search.demoCharts">
                    <div ng-click="search.selectAsMainChart($index)">
                        <highchart id="demoChart{{$index}}" config="chart.config" >
                        </highchart>
                    </div>
                </div>
            </div>

        </article>        
	
	</section>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/jqcloud2/dist/jqcloud.js"></script>
    <script src="/bower_components/angular-jqcloud/angular-jqcloud.js"></script>
    <script src="/bower_components/highcharts/lib/highcharts.js"></script>
    <script src="/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->

    <script src="scripts/hhStat.js"></script>

    <!--(if target dev)><!-->
      <script src="scripts/constants/Config-debug.js"></script>
    <!--<!(endif)-->
     
    <!--(if target dist)>
      <script src="scripts/constants/Config-release.js"></script>
    <!(endif)-->

    <script src="scripts/exceptions/ExceptionConfig.js"></script>

    <script src="scripts/models/SearchResult.js"></script>
    <script src="scripts/extensions/ChartExtension.js"></script>

    <script src="scripts/controllers/MenuCtrl.js"></script>
    <script src="scripts/controllers/TagCloudCtrl.js"></script>
    <script src="scripts/controllers/SearchCtrl.js"></script>
    <script src="scripts/controllers/FilterCtrl.js"></script>
    
    <script src="scripts/services/SearchService.js"></script>
    <script src="scripts/services/ChartService.js"></script>
    <script src="scripts/services/CurrencyService.js"></script>
    <script src="scripts/services/BackendService.js"></script>
    <script src="scripts/services/HeadHunterService.js"></script>

    <script src="scripts/directives/SimpleFilter.js"></script>
    <script src="scripts/directives/HierarchyFilter.js"></script>
    <!-- endbuild -->

    
    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/highcharts/lib/modules/exporting.js"></script>
    <script src="/bower_components/highcharts/lib/highcharts-more.js"></script>
    <!--<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>-->
    <!-- endbuild -->
    
    <!--(if target dist)>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!(endif)-->
    
    <!--(if target dist)>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "fb8811d3-6073-4a6f-a086-17c426dc326f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <!(endif)-->

  </body>
</html>
